<div id="<%= dom_id rate %>">
  <p>
    <strong>Contract:</strong>
    <%= rate.contract_id %>
  </p>

  <p>
    <strong>Age from:</strong>
    <%= rate.age_from %>
  </p>

  <p>
    <strong>Age to:</strong>
    <%= rate.age_to %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= rate.rate %>
  </p>

  <p>
    <strong>Min amount:</strong>
    <%= rate.min_amount %>
  </p>

  <p>
    <strong>Max amount:</strong>
    <%= rate.max_amount %>
  </p>

</div>
