<div id="<%= dom_id dependent %>">
  <p>
    <strong>Last name:</strong>
    <%= dependent.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= dependent.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= dependent.middle_name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= dependent.birthdate %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= dependent.gender %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= dependent.relationship_id %>
  </p>

  <p>
    <strong>Individual:</strong>
    <%= dependent.individual_id %>
  </p>

</div>
