<h1>New relationship</h1>

<%= form_with(model: @relationship, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :relationship, class: "form-label" %>
    <%= f.text_field :relationship, autofocus: true, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :agreement_id, "Agreement Contract", class: "form-label" %>
    
    <%= f.select :agreement_id,
      grouped_options_for_select(
        @agreement_contracts.group_by { |c| c.contractable_type }.map do |contract_type, contracts|
          [
            # Group name shows the contract type (Cooperative or Individual)
            contract_type,
            # Options show insurance product and contract details
            contracts.map do |c| 
              [
                "#{c.insurance_product&.name} - #{c.contractable_name} (Contract ##{c.id})", 
                c.id
              ]
            end
          ]
        end
      ),
      { prompt: "Select an agreement contract" },
      { id: "agreement_contract_select", class: "form-select", required: true } 
    %>
    
    <%= f.hidden_field :agreement_type, value: "Agreement::Contract" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Create Relationship", class: "btn btn-primary" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to relationships", relationships_path %>
</div>
