<div id="<%= dom_id peril %>">
  <p>
    <strong>Eligibility:</strong>
    <%= peril.eligibility_id %>
  </p>

  <p>
    <strong>Peril:</strong>
    <%= peril.peril %>
  </p>

  <p>
    <strong>Coverage:</strong>
    <%= peril.coverage %>
  </p>

  <p>
    <strong>Premium:</strong>
    <%= peril.premium %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= peril.description %>
  </p>

  <p>
    <strong>Acronym:</strong>
    <%= peril.acronym %>
  </p>

</div>
