<div id="<%= dom_id individual %>">
  <p>
    <strong>Last name:</strong>
    <%= individual.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= individual.first_name %>
  </p>

  <p>
    <strong>Mi:</strong>
    <%= individual.mi %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= individual.birth_date %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= individual.gender %>
  </p>

</div>
