<p style="color: green"><%= notice %></p>

<%= render @insurance_product %>

<div>
  <%= link_to "Edit this insurance product", edit_insurance_product_path(@insurance_product) %> |
  <%= link_to "Back to insurance products", insurance_products_path %>

  <%= button_to "Destroy this insurance product", @insurance_product, method: :delete %>
</div>
