<h1>New registry</h1>

<%= form_with(model: @registry, local: true) do |f| %>
<div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, autofocus: true, class: "form-control", required: true %>
</div>
<div class="mb-3">
<%= f.label :cooperative_id, "Cooperative", class: "form-label" %>


  <%= f.collection_select(
:cooperative_id,
Cooperative.order(:name),
:id,
:name,
{ prompt: "Select Cooperative" },
{
class: "form-select",
data: { controller: "tom-select" }
}
) %>
</div>
<div class="mb-3">
    <%= f.submit "Create Registry", class: "btn btn-primary" %>

</div>
<% end %>

<br>

<div>
  <%= link_to "Back to registries", registries_path %>
</div>
