<div id="<%= dom_id insurance_contract %>">
  <p>
    <strong>Rate:</strong>
    <%= insurance_contract.rate_id %>
  </p>

  <p>
    <strong>Insured:</strong>
    <%= insurance_contract.insured_id %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= insurance_contract.age %>
  </p>

  <p>
    <strong>Amount covered:</strong>
    <%= insurance_contract.amount_covered %>
  </p>

  <p>
    <strong>Premium:</strong>
    <%= insurance_contract.premium %>
  </p>

  <p>
    <strong>Effectivity:</strong>
    <%= insurance_contract.effectivity %>
  </p>

  <p>
    <strong>Expiry:</strong>
    <%= insurance_contract.expiry %>
  </p>

</div>
