<%= form_with url: edit_role_permissions_path, method: :get, local: true do %>
  <div class="field">
    <%= label_tag :role_id, "Role" %>
    <%= select_tag :role_id,
          options_from_collection_for_select(@roles, :id, :name, @role.id),
          onchange: "this.form.submit();" %>
  </div>
<% end %>
<%= form_with url: role_permissions_path(@role), method: :patch, local: true do %>

  <table>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Read</th>
        <th>Create</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
<% PermissionSubjects::SUBJECTS.each do |subject| %>
  <% permission = @permissions_by_subject[subject] %>

  <tr>
    <td><%= subject.humanize %></td>

    <% Permission::ACTIONS.keys.each do |action| %>
      <td>
        <%= check_box_tag(
              "permissions[#{subject}][]",
              action,
              permission&.allow?(action)
            ) %>
      </td>
    <% end %>
  </tr>
<% end %>

    </tbody>
  </table>

  <%= submit_tag "Save permissions" %>
<% end %>
