<p style="color: green"><%= notice %></p>

<%= render @insurance_group %>

<div>
  <%= link_to "Edit this insurance group", edit_insurance_group_path(@insurance_group) %> |
  <%= link_to "Back to insurance groups", insurance_groups_path %>

  <%= button_to "Destroy this insurance group", @insurance_group, method: :delete %>
</div>
