<div id="<%= dom_id cooperative %>">
  <p>
    <strong>Name:</strong>
    <%= cooperative.name %>
  </p>

  <p>
    <strong>Add region:</strong>
    <%= cooperative.add_region_id %>
  </p>

  <p>
    <strong>Add province:</strong>
    <%= cooperative.add_province_id %>
  </p>

  <p>
    <strong>Add municipal:</strong>
    <%= cooperative.add_municipal_id %>
  </p>

  <p>
    <strong>Add barangay:</strong>
    <%= cooperative.add_barangay_id %>
  </p>

</div>
