<div id="<%= dom_id eligibility %>">
  <p>
    <strong>Eligibility title:</strong>
    <%= eligibility.eligibility_title %>
  </p>

  <p>
    <strong>Dependent:</strong>
    <%= eligibility.dependent %>
  </p>

  <p>
    <strong>Evidence limit:</strong>
    <%= eligibility.evidence_limit %>
  </p>

  <p>
    <strong>Medical limit:</strong>
    <%= eligibility.medical_limit %>
  </p>

  <p>
    <strong>Contestability:</strong>
    <%= eligibility.contestability %>
  </p>

  <p>
    <strong>Min entry:</strong>
    <%= eligibility.min_entry %>
  </p>

  <p>
    <strong>Max entry:</strong>
    <%= eligibility.max_entry %>
  </p>

  <p>
    <strong>Exit:</strong>
    <%= eligibility.exit %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= eligibility.service %>
  </p>

  <p>
    <strong>Commission:</strong>
    <%= eligibility.commission %>
  </p>

  <p>
    <strong>Min confinement:</strong>
    <%= eligibility.min_confinement %>
  </p>

  <p>
    <strong>Max confinement:</strong>
    <%= eligibility.max_confinement %>
  </p>

</div>
